.sideBarDivNotCollapsed{
   height: 100vh;
   width: 10%;
    background-color: rgba(104, 152, 129, 0.488);
    transition: 0.4s all ease;
    padding-left: 1%;
    float: left;
 
       
}


.sideBarDivCollapsed{
    height: 100vh;
    width: 5%;
     background-color: rgb(128, 128, 128);
     transition: 0.4s all ease;
     padding-left: 1.5%;
     float: left;
 
 }

.iconWithtext{
display: inline;
font-size: large;
margin-left: 5%;
font-size: small;
}

.DivBoxExpanded{
    padding-top: 65%;
   
}

.DivBoxExpanded :hover {
    font-size: larger;
    cursor: pointer;    
}

.DivBoxCollapsed{
    padding-top: 100%;
   
}

.DivBoxCollapsed :hover {
    font-size: larger;
    cursor: pointer;    
}

.topBar{
    margin-left: 60%;
    display: inline;
    height: 10%;
background-color: blueviolet;
}

.logo{
    display: inline;
    height: 5%;
}

.displayInline{
  
    overflow: hidden;
}